<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Cast and characters</h1>
  <div class="castPicture">
      <div class="celebrity"><img src="penny.jpg" alt="Kaley Cuoco"> <span class="caption">Kaley Cuoco</span> </div>
      <div class="celebrity"><img src="jonny.jpg" alt="Jhonny Galecki"> <span class="caption">Jhonny Galecki</span></div>
      <div class="celebrity"><img src="jim.jpg" alt="Jim Parsons"> <span class="caption">Jim Parsons</span></div>
      <div class="celebrity"><img src="mayim.jpg" alt="Mayim Bialik"> <span class="caption">Mayim Bialik</span></div>
      <div class="celebrity"><img src="kunal.jpg" alt="Kunal Nayyar"> <span class="caption">Kunal Nayyar</span></div>
      <div class="celebrity"><img src="melissa.jpg" alt="Melissa Rauch"> <span class="caption">Melissa Rauch</span></div>
      <div class="celebrity"><img src="simon.jpg" alt="Simon Helberg"> <span class="caption">Simon Helberg</span></div> 
  </div>
</body>
</html>